/*resolution 360 x 545*/


*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}



:root{
--header:8vh;
--main:calc(100vh - var(--header));
--headerFont: 'romance';
--borderColor: black;
--background0: #f5f5dc;
--background1: white;
}

@font-face{
font-family: 'lazy';
src: url('font/Lazy.otf');
}


@font-face{
font-family: 'romance';
src: url('font/Romance.ttf');
}

html{
font-family: var(--headerFont);
background-color: var(--background0);
}

header{
border-bottom: 2px solid black;
font-size: clamp(1.1rem,2vw, 2.8rem);
padding-bottom: 8px;
padding-top: 8px;
background-color: var(--background1);
}

section#prices{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


ul{
list-style: none;
}

img{
border-radius: 40px;
width: clamp(300px,70vw,600px);
height: clamp(200px, 50vh, 500px);
border:2px solid var(--borderColor);
}

li{
padding-top: 10px;
padding-bottom: 10px;
position: relative;
}

figure{
display: flex;
flex-direction: column;
}

li div{
display: flex;
align-self: center;
align-items: center;
background-color: var(--background1);
justify-content: space-evenly;
padding: 0;
width: 80%;
border-left: 2px solid var(--borderColor);
border-right: 2px solid var(--borderColor);
border-bottom: 2px solid var(--borderColor);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
text-align: center;
}

li div output{
font-size: 1.3rem;

}
